<div id="article_open">
 <%= image_tag(@article.image_url) %>
  <div id="title">
    <p>
      <%= @article.title %>
    </p>
  </div>
  <div id="article">
    <p>
      <%= @article.article %>
    </p>
  </div>
</div>