<%= image_tag("about.png") %>
<div class="design">
  <h1>We design</h1>
  <div class="dot">
    
  </div>
  <p>Lorem ipsum dolor sit amet, id vis stet docendi voluptua, ius in fierent instructior, ius mutat ceteros adipisci cu. Ut has periculis incorrupte. Cu integre honestatis sit, aliquid feugait suavitate ad eos. Usu ut tollit habemus, dolorem commune persecuti ius ex.</p>
</div>

<div class="produce">
  <h1>And produce</h1>
  <div class="dot">
    
  </div>
  <p>Lorem ipsum dolor sit amet, id vis stet docendi voluptua, ius in fierent instructior, ius mutat ceteros adipisci cu. Ut has periculis incorrupte. Cu integre honestatis sit, aliquid feugait suavitate ad eos. Usu ut tollit habemus, dolorem commune persecuti ius ex.</p>
</div>

<div class="love">
  <h1>With love</h1>
  <div class="dot">
    
  </div>
  <p>Lorem ipsum dolor sit amet, id vis stet docendi voluptua, ius in fierent instructior, ius mutat ceteros adipisci cu. Ut has periculis incorrupte. Cu integre honestatis sit, aliquid feugait suavitate ad eos. Usu ut tollit habemus, dolorem commune persecuti ius ex.</p>
</div>

<div class="people">
  <h1>For you and people around you</h1>
  <div class="dot">
    
  </div>
  <p>Lorem ipsum dolor sit amet, id vis stet docendi voluptua, ius in fierent instructior, ius mutat ceteros adipisci cu. Ut has periculis incorrupte. Cu integre honestatis sit, aliquid feugait suavitate ad eos. Usu ut tollit habemus, dolorem commune persecuti ius ex.</p>
</div>