// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.articles {
  table {
    border-collapse: collapse;
  }
    
  table tr td {
    padding: 5px;
    vertical-align: top;
  }

  .list_image {
    width:  150px;
    height: auto;
  }

  .list_description {
    width: 100%;

    dl {
      margin: 0;
        margin-left: 20px;
    }

    dt {
      color:        #244;
      font-weight:  bold;
      font-size:    larger;
    }

    dd {
      margin: 0;
    }
  }
  
  #article_open {
    img {
        width: 1140px;
        height: auto;
    }
    
    #title {
        p {
        font-family: 'Helvetica Neue';
        font-weight: 500;
        font-size: 36px;
        width: 1000px;
        margin: 0 auto;
        margin-top: 36px;
        margin-bottom: 36px;
        }
    }
    
    #article {
        p {
        font-family: 'Helvetica Neue';
        font-weight: 300;
        font-size: 18px;
        text-align: justify;
        line-height: 150%;
        width: 1000px;
        margin: 0 auto;
        margin-bottom: 50px;
        }
    }
  }
}

