// Place all the styles related to the Inquiry controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.inquiries {
    
     ul.social2 {
      padding: 0;
      float: right;
      height: 37px;
      margin: 0;
      margin-top: -20px;
      margin-right: 80px;
      
      li {
        list-style: none;
        
      
        .fb2 {
          padding: 0px;
          background: url("fb2.png");
          background-repeat: no-repeat;
          height: 108px;
          width: 108px;
          display: inline-block;
          position: absolute;
          margin-top: -200px;
          margin-left: -400px;
          
          span {
            display: none;
          }
        }
        
        .fb2:hover {
          padding: 0px;
          background: url("fb2.png");
          background-repeat: no-repeat;
          height: 108px;
          width: 108px;
          display: inline-block;
        }
        
        .twitter2 {
          padding: 0px;
          background: url("twitter2.png");
          background-repeat: no-repeat;
          height: 108px;
          width: 108px;
          display: inline-block;
          position: absolute;
          margin-top: -173px;
          margin-left: -305px;
          
          span {
            display: none;
          }
        }
        
        .twitter2:hover {
          padding: 0px;
          background: url("twitter2.png");
          background-repeat: no-repeat;;
          display: inline-block;
        }
        
        .instgrm {
          padding: 0px;
          background: url("instgrm.png");
          background-repeat: no-repeat;
          height: 108px;
          width: 108px;
          display: inline-block;
          position: absolute;
          margin-top: -242px;
          margin-left: -234px;
          
          span {
            display: none;
          }
        }
        
        .instgrm:hover {
          padding: 0px;
          background: url("instgrm.png");
          background-repeat: no-repeat;
          height: 108px;
          width: 108px;
          display: inline-block;
        } 
      }
    }
    
        .dot {
            width: 8px;
            height: 9px;
            background: url("dot.png");
            background-repeat: no-repeat;
            margin-left: 10px;
            margin-top: 30px;
            margin-bottom: -35px;
        }
    
        h1.mes {
            /* Safari */
            -webkit-transform: rotate(-90deg);
            
            /* Firefox */
            -moz-transform: rotate(-90deg);
            
            /* IE */
            -ms-transform: rotate(-90deg);
            
            /* Opera */
            -o-transform: rotate(-90deg);
            position: absolute;
            margin-top: 155px;
            margin-left: -107px;
            font-family: 'Helvetica Neue';
            font-weight: bold;
            text-transform: uppercase;
        }
        
        .dot2 {
            position: absolute;
            width: 8px;
            height: 9px;
            background: url("dot.png");
            background-repeat: no-repeat;
            margin-left: 520px;
            margin-top: -280px;
        }
    
        h1.mes2 {
            /* Safari */
            -webkit-transform: rotate(-90deg);
            
            /* Firefox */
            -moz-transform: rotate(-90deg);
            
            /* IE */
            -ms-transform: rotate(-90deg);
            
            /* Opera */
            -o-transform: rotate(-90deg);
            position: absolute;
            margin-top: -197px;
            margin-left: 450px;
            font-family: 'Helvetica Neue';
            font-weight: bold;
            text-transform: uppercase;
        }
    
    .contact_form {
        margin-left: 80px;
        margin-top: 25px;
        position: relative;
    
        .new_inquiry {
            font-family: 'Helvetica Neue';
            font-size: 14px;
            
            input {
                -moz-box-shadow:none;
                -webkit-box-shadow:none;
                -o-box-shadow:none;
                box-shadow:none;
                border-radius: 2px;
                border: 1px solid;
                border-color: #3e3f3f;
                font-family: 'Helvetica Neue';
                font-size: 14px;
                padding: 5px;
                width: 350px;
            }
            
            textarea {
                padding: 5px;
                font-size: 14px;
                width: 350px;
                max-width: 350px;
                height: 100px;
                border-radius: 2px;
                border: 1px solid;
                border-color: #3e3f3f;
            }
            
            .butt {
                input {
                    margin-top: 10px;
                    margin-left: 210px;
                    background:none;
                    width: 150px;
                    height: 35px;
                    border: solid 1px #3ab3d1;
                    border-radius: 3px;
                    font-size:20px;
                    font-family: 'Helvetica Neue';
                    font-weight: 400;
                    font-style: italic;
                    color:#3ab3d1;
                }
                
                input:hover {
                    color: #2a95b0;
                    border-color: #2a95b0;
                    cursor: pointer;
                }
            }
        }
    }
}