<div class="dot">
  
</div>
<h1 class="mes">Leave a message</h1>
<div class="contact_form">
  <%= render 'form', :inquiry => @inquiry %>
</div>

<div class="dot2">
  
</div>
<h1 class="mes2">Follow us</h1>

<ul class="social2">
  <li><a href="https://www.facebook.com/jackalopetshirts?fref=ts" class="fb2"><span>facebook</span></a></li>
  <li><a href="https://twitter.com/JackalopeLt" class="twitter2"><span>twitter</span></a></li>
  <li><a href="http://instagram.com/jackalope_t_shirts" class="instgrm"><span>cart</span></a></li>
</ul>
